<footer class="bg-light text-center text-lg-start border-top mt-5">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h5 class="text-uppercase">Connect</h5>
        <p class="mb-0">Connecting ideas, people, and technology.</p>
      </div>
    </div>
  </div>

  <div class="text-center py-3 bg-light text-muted border-top">
    &copy; 2025 Connect. All rights reserved.
  </div>
</footer>
