<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="" rel="stylesheet" />
    <title>connect</title>
  </head>
  <body>
    <h1>all listings</h1>
    <form method="GET" action="/listing/new">
      <button>Add new</button>
    </form>
    <ul>
      <% for(let listing of allListings){ %>
      <li><a href="/listing/<%= listing._id%>"> <%= listing.title %></a></li>
      <% } %>
    </ul>
  </body>
</html>
